body{
  margin: 0;
  background-color: #2e3033;
}
.container{
  width: 80%;
  margin: 0 auto;
}
h1,h3{
  margin: 0;
  font-family: 'arial';
}
h1{
  text-transform: uppercase;
  font-size: 4em;
  color: #fba919;
  transition: all 1s ease-in-out;
}
h3{
  font-size: 1.3em;
  color: #fba919;
}
img{
  filter: grayscale(100%);
  transition: all 1s ease-in-out;
}
main.grunt{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titre{
  text-align: center;
}

.bannerStyle{
  width: 100%;
  height: 100vh;
  background-image: url('../img/pexels-banner.jpeg');
  background-position: center;
  background-size: cover;
}
